#Editor config
.vscode

# Eclipse project files
Debug_FLASH/
Debug_RAM/
Release/
Binaries/
build/

# Eclipse project files
.metadata/
.settings/language.settings.xml
*.launch
tests/*
!tests/board_demo/
!tests/com_stack/

# Temporary files
*.tmp
*.bak
*.log
